body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ecf2ff;
  color: #551d42;
}
header {
  background-color: #e5d1fa;
  text-align: center;
  padding: 3px 0;
  margin-bottom: 4vw;
  color: #551d42;
}

footer {
  background-color: #e5d1fa;
  text-align: center;
  padding: 3px 0;

  color: #551d42;
}
#pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content;
  margin-left: 4vw;
}

.list-entry {
  width: 20vw;
  border: 30px;
  border: 3px solid #551d42;
  background-color: #e3dffd;
  margin-bottom: 4vw;
  cursor: pointer;
}

.list-entry:hover {
  -webkit-box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
}

#list-name {
  text-align: center;
  text-decoration: underline;
}

#list-image {
  width: 90%;
}

dialog {
  background-color: #e3dffd;
  border: 3px solid #551d42;
  position: relative;
  width: 40vw;
  height: 70vh;
}
#pokemon-image {
  width: 20vw;
}

#pokemon-footprint {
  position: absolute;
  width: 5vw;
  right: 3vw;
  top: 3vw;
}

.btn-close {
  background-color: #923272;
  border-radius: 28px;
  border: 1px solid #551d42;
  display: inline-block;
  cursor: pointer;
  color: #f9f7f7;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #551d42;
  position: absolute;
  left: 45%;
}
.btn-close:hover {
  background-color: #551d42;
}
.btn-close:active {
  position: relative;
  top: 1px;
}
