body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f9f7f7;
  color: #112d4e;
}
header {
  background-color: #3f72af;
  text-align: center;
  padding: 3px 0;
  margin-bottom: 4vw;
  color: #f9f7f7;
}

footer {
  background-color: #3f72af;
  text-align: center;
  padding: 3px 0;

  color: #f9f7f7;
}
#pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content;
  margin-left: 4vw;
}

.list-entry {
  width: 20vw;
  border: 30px;
  border: 3px solid #112d4e;
  background-color: #dbe2ef;
  margin-bottom: 4vw;
}

#list-name {
  text-align: center;
  text-decoration: underline;
}

#list-image {
  width: 90%;
}

dialog {
  background-color: #dbe2ef;
  border: 3px solid #112d4e;
  position: relative;
}
#pokemon-image {
}

.btn-close {
  background-color: #3f71af;
  border-radius: 28px;
  border: 1px solid #112e4e;
  display: inline-block;
  cursor: pointer;
  color: #f9f7f7;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #112e4e;
  position: absolute;
  left: 45%;
}
.btn-close:hover {
  background-color: #2f5682;
}
.btn-close:active {
  position: relative;
  top: 1px;
}
